body {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    background-color: #f8ecd7;
    color: #3a3636;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 60px;
    /* Adjust for fixed header */
    overflow-y: scroll; /* Add vertical scrollbar */
}

header {
    background-color: #494271;
    color: white;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* Ensure header is on top */
}

.logoFamDigital {
    width: 150px;
    margin-left: 5px;
}

header ul {
    gap: 35px;
    margin-right: 20px;
}

.navbar-custom {
    background-color: #494271 !important;
}

.container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    overflow-y: auto; /* Add vertical scrollbar to container */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-employee button {
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-employee .add {
    padding: 10px 35px;
    background-color: #494271;
    color: white;
}

.add-employee .add:hover {
    background-color: #2d2944;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container h2 {
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.container h2 img {
    width: 75px;
    height: 90px;
}

.img-container {
    background-color: #494271;
    width: 115px;
    height: 115px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.employee {
    display: flex;
    align-items: center;
    background-color: #f8ecd7;
    padding: 5px; /* Reduce padding */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.employee-header{
    font-size: 1.3rem;
}

.employee-row{
    font-size: 18px;
}

.employee-row .employee-name,
.employee-row .employee-position {
    background-color: white;
    border-radius: 50px;
    margin: auto 0; /* Limit the height */
}

.employee-actions {
    display: flex;
    justify-content: center; /* Center align buttons */
    gap: 10px;
}

.employee-actions button {
    background-color: #494271;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete:hover {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.edit:hover{
    background-color: #FFC107;
    border: 1px solid #9d7600; 
}

.view:hover{
    background-color: #1e3a8a;
    border: 1px solid #1e3a8a;
}
.document:hover{
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.employee-table {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.employee-header,
.employee-row {
    display: contents;
}

.employee-header div,
.employee-row div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center; /* Center align text horizontally */
    display: flex;
    align-items: center; /* Center align text vertically */
    justify-content: center; /* Center align text horizontally */
}

.employee-photo img {
    width: 70px; /* Increase image size */
    height: 70px; /* Increase image size */
    border-radius: 50%;

}

footer {
    margin: 0;
    width: 100%;
    font-size: 13px;
    background-color: #494271;
    color: #f8ecd7;
    text-align: center;
    position: relative; /* Change position to relative */
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    .container h2 {
        font-size: 26px;
        text-align: center;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .employee-table {
        grid-template-columns: minmax(150px, 1fr) minmax(300px, 3fr) minmax(300px, 3fr) minmax(200px, 2fr); /* Defina larguras mínimas */
        overflow-x: auto; /* Ensure horizontal scrolling */
    }

    .employee-header,
    .employee-row {
        display: contents; /* Keep the same structure */
    }

    .employee-header div,
    .employee-row div {
        text-align: center; /* Center align text horizontally */
        justify-content: center; /* Center align text horizontally */
    }

    .student-photo img {
        width: 60px;
        height: 60px;
    }

    .employee-actions {
        justify-content: center; /* Center align buttons */
    }

    .employee-actions button {
        padding: 10px;
    }
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #f8ecd7;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #494271;
    width: 80%;
}
.message {
    padding: 10px;
    margin-bottom: 10px;
}
.message.success {
    background-color: #d4edda;
    color: #155724;
}
.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.search-container form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
}

.search-container button {
    background-color: #494271;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #2d2944;
}

.search-container button i {
    font-size: 16px;
}