* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    background-color: #f8ecd7;
    color: #3a3636;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-y: scroll; /* Add vertical scrollbar */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #494271;
    color: #f8ecd7;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /* Espaçar logo e toggle */
    align-items: center; /* Garantir alinhamento central */
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-self: flex-end; /* Alinhar no canto direito */
}

.navbar-toggle span {
    background-color: #f8ecd7;
    height: 2px;
    width: 25px;
    margin: 4px 0;
}

.logoFamDigital {
    width: 150px;
    margin-left: 5px;
}

header ul {
    gap: 35px;
    margin-right: 20px;
}

main {
    text-align: center;
    font-family: "Questrial", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

main h2 {
    font-size: 2.5rem; /* Increase font size */
    margin-bottom: 35px; /* Increase margin-bottom */
    text-align: center;
}

.opcoes {
    display: flex;
    justify-content: center;
    gap: 35px; /* Increase gap */
    font-size: 22px; /* Increase font size */
}

.opcao {
    color: #3a3636;
    border-radius: 10px;
    padding: 15px; /* Increase padding */
    width: 200px; /* Increase width */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.opcao:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.opcao img {
    background-color: #494271;
    padding: 25px 35px; /* Increase padding */
    width: 170px; /* Increase width */
    height: 170px; /* Increase height */
    margin-bottom: 20px; /* Increase margin-bottom */
    border-radius: 15px;
}

footer {
    bottom: 0;
    position: absolute;
    font-size: 13px;
    background-color: #494271;
    color: #f8ecd7;
    width: 100%; /* Usar 100vw para garantir que ocupe toda a largura da viewport */
    text-align: center;
}

.navbar-custom {
    background-color: #494271 !important;
}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }

    main {
        padding: 20px;
        height: auto; /* Adjust height for smaller screens */
        padding-top: 200px; /* Adicionar padding-top para evitar sobreposição */
    }

    main h2{
        font-size: 35px;
    }

    .opcoes {
        flex-direction: column;
        gap: 25px; /* Adjust gap for smaller screens */
    }

    .opcao {
        width: 100%; /* Make options full width */
        padding: 10px; /* Adjust padding */
        padding-bottom: 0;
    }

    .opcao img {
        width: 115px; /* Adjust image size */
        height: 115px; /* Adjust image size */
        padding: 10px 20px;  /* Adjust padding */
        margin-bottom: 10px; /* Adjust margin */
    }

    footer {
        position: relative;
        width: 100vw; /* Usar 100vw para garantir que ocupe toda a largura da viewport */
    }
}