{% extends 'base.html' %}
{% load static %}
{% load dict_extras %}
{% block title %}Frequência - {{ turma.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/attendance.css' %}">
<style>

</style>
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="cabecalho">
        <div class="header-container">
            <h2>
                <div class="img-container">
                    <img src="{% static 'app/img/turma.png' %}" alt="avatar_original da Turma" />
                </div>
                Registro de Frequência - Turma: {{ turma.name }}
            </h2>
        </div>
        {% if messages %}
        <div id="message-modal" class="modal">
            <div class="modal-content">
                {% for message in messages %}
                {% if "redirect" in message.extra_tags %}
                <div class="message {{ message.tags }}">{{ message }}</div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var messageModal = document.getElementById("message-modal");
                if (messageModal) {
                    setTimeout(function() {
                        messageModal.style.display = "none";
                    }, 2000);
                }
            });
        </script>
        {% endif %}
        {% if user.is_superuser %}
        <div class="actions-container">
                <div class="actions">
                    <button type="button" class="cancel" onclick="window.location.href='{% url 'class' %}'">Cancelar</button>
                    <button type="submit" class="save" form="attendance-form">Salvar</button>
                </div>
            </div>
        
        {% endif %}
       
    </div>
    <form id="attendance-form" method="post">
        {% csrf_token %}
        <h3>Data: {% now "d/m/Y" %}</h3>
        <div class="scrollable-table">
            <div class="student-table">
                <div class="student-header">
                    <div class="student-photo">Foto</div>
                    <div class="student-name">Aluno</div>
                    <div class="student-actions">Presença</div>
                </div>
                {% for student in students %}
                <div class="student-row">
                    <div class="student-photo">
                        <img src="{{ student.photo.url }}" alt="Foto de {{ student.name }}" width="70" height="70">
                    </div>
                    <div class="student-name">
                        {{ student.name }} {{ student.last_name }}
                    </div>
                    <div class="student-actions">
                        <input type="checkbox" name="present" value="{{ student.pk }}"
                            {% if attendance|get_item:student.pk and attendance|get_item:student.pk.present %}checked{% endif %}>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}