{% extends 'base.html' %}
{% load static %}

{% block title %}Funcionário{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/funcionarios.css' %}">
{% endblock extra_css %}

{% block content %}


<div class="container">
    <div class="cabecalho">
        <div class="header-container">
            <h2>
                <div class="img-container">
                    <img src="{% static 'app/img/funcionario.png' %}" alt="Avatar do Funcionario" />
                </div>
                Funcionários
            </h2>
        </div>
        <div class="button-container">
            <div class="add-employee">
            <button type="button" class="add" onclick="redirectToPage()">Adicionar</button>
            </div>
        </div>
    </div>
    <div class="employee-table">
{% for employee in employees %}
<div class="employee-row">
    <div class="employee-photo">
        {% if employee.photo %}
            <img src="{{ employee.photo.url }}" alt="Foto do Funcionário">
        {% else %}
            <img src="{% static 'app/img/avatar.jpeg' %}" alt="Foto do Funcionário">
        {% endif %}
    </div>
    <div class="employee-name">{{ employee.user.username }}</div>
    <div class="employee-position">{{ employee.occupation }}</div>
    <div class="employee-actions">
        <button class="view"><i class="fa-regular fa-eye"></i></button>
        <button class="edit"><i class="fa-regular fa-pen-to-square"></i></button>
        <button class="delete"><i class="fa-regular fa-trash-can"></i></button>
    </div>
</div>
{% endfor %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var styleCss = document.getElementById("style-css");
        if (styleCss) {
            styleCss.parentNode.removeChild(styleCss);
        }
    });
</script>
<script>
    function redirectToPage() {
    window.location.href = "{% url 'create_employee' %}";
    }
</script>

{% endblock content %}
