{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAMDigital - Início</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'app/img/icon.ico' %}">
</head>

<body>
    <div class="container">
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'app/img/logoFamDigital.png' %}" alt="Logo FAMDigital" class="logoFamDigital">
            </a>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Início</a></li>
                    <li><a href="#">Funcionários</a></li>
                    <li><a href="#">Alunos</a></li>
                    <li><a href="{% url 'profile' %}">Meu perfil</a></li>
                    <li><a href="{% url 'logout' %}" class="sair">Sair</a></li>
                </ul>
            </nav>
        </header>

    </div>
</body>

</html>
