{% load static %}

<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'app/img/logoFamDigital.png' %}" alt="Logo FAMDigital" class="logoFamDigital">
            </a>
            <button class="navbar-toggler nav-toggle" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto nav-list">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Início</a></li>
                    {% if user.is_superuser %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'employee' %}">Funcionários</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'student' %}">Alunos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Meu perfil</a></li>
                    <li class="nav-item"><a class="nav-link sair" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
