{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock title %}
{% block content %}

<div class="container pt-4">
<main style="margin-bottom: 90px;">
    <h2>Escolha uma opção:</h2>
    <div class="opcoes" style="margin-top: -10px;">
        {% if user.is_superuser %}
        <a class="navbar-brand" href="{% url 'employees' %}">
            <div class="opcao">
                <img src="{% static 'app/img/funcionario.png' %}" alt="Funcionários">
                <p>Funcionários</p>
            </div>
        </a>
        {% endif %}
        <a class="navbar-brand" href="{% url 'students' %}">
            <div class="opcao">
                <img src="{% static 'app/img/aluno.png' %}" alt="Alunos">
                <p>Alunos</p>
            </div>
        </a>
        <a class="navbar-brand" href="{% url 'profile' %}">
            <div class="opcao">
                <img src="{% static 'app/img/perfil.png' %}" alt="Meu perfil">
                <p>Meu perfil</p>
            </div>
        </a>
    </div>
</main>

{% endblock content %}