{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAMDigital - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <link rel="shortcut icon" type="imagex/png" href="{% static 'app/img/icon.ico' %}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'app/img/logoFamDigital.png' %}" alt="Logo FAMDigital" class="logoFamDigital" href="/index/">
        </header>
        <main>
            <div class="esquerda">
                <img src="{% static 'app/img/logoFam.png' %}" alt="Logo FAM" class="logoFam">
                <p class="descricao">
                    “A única arma para melhorar o planeta é a Educação com ética.
                    Ninguém nasce odiando outra pessoa pela cor da pele, por sua origem,
                    ou ainda por sua religião. Para odiar, as pessoas precisam aprender,
                    e se podem aprender a odiar, podem ser ensinadas a amar.”
                </p>
                <p class="autor">– Nelson Mandela</p>
            </div>
            <div class="direita">
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    <div class="botao-container">
                        <button type="submit" class="botao">Entrar</button>
                    </div>
                    <a href="#" class="esqueceu">Esqueceu a senha?</a>
                    <!-- <a href="#" class="primeiro-acesso">Primeiro acesso?</a> -->
                </form>
            </div>
        </main>
        <footer>
            &copy; 2025 FAM Digital. Todos os direitos reservados.
        </footer>
    </div>
</body>
</html>