{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha Completa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/password_reset.css' %}">
</head>
<body>
<div class="password-reset-container">
    <h2>Redefinição de Senha Completa</h2>
    <p>Sua senha foi redefinida com sucesso. Você pode agora <a href="{% url 'login' %}">entrar</a> com sua nova senha.</p>
</div>
</body>
</html>