{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha Enviada</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/password_reset.css' %}">
</head>
<body>
<div class="password-reset-container">
    <h2>Redefinição de Senha Enviada</h2>
    <p>Um e-mail foi enviado para o endereço fornecido com instruções sobre como redefinir sua senha.</p>
</div>
</body>
</html>