{% extends 'base.html' %}
{% load static %}
{% load dict_extras %}
{% block title %}Alunos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/students.css' %}">
{% endblock extra_css %}
{% block content %}
<div class="container" style="margin-top: -100px;">
        <div class="cabecalho">
            <div class="header-container">
                <h2>
                    <div class="img-container">
                        <img src="{% static 'app/img/aluno.png' %}" alt="avatar_original do Aluno" />
                    </div>
                    Alunos
                </h2>
            </div>
            {% if messages %}
            <div id="message-modal" class="modal">
                <div class="modal-content">
                    {% for message in messages %}
                    {% if "redirect" in message.extra_tags %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var messageModal = document.getElementById("message-modal");
                    if (messageModal) {
                        setTimeout(function() {
                            messageModal.style.display = "none";
                        }, 2000);
                    }
                });
            </script>
            {% endif %}
            {% if user.is_superuser %}
            <div class="button-container">
                <div class="add-student">
                    <a href="{% url 'create_student' %}">
                        <button type="button" class="add">Adicionar</button>
                    </a>
                </div>
            </div>
            <div class="button-container"></div>
                <div class="add-student">
                    <a href="{% url 'class' %}">
                        <button type="button" class="add">Turmas</button>
                    </a>
                </div>
            
            {% endif %}
           
        </div>
        <div class="search-container">
            <form method="get" action="{% url 'student' %}">
            <input type="text" name="search" placeholder="Pesquisar aluno" value="{{ search }}">
            <button type="submit"><i class="fas fa-search"></i></button>
            <button type="button" onclick="window.location.href='{% url 'student' %}'">Limpar</button>
            </form>
        </div>
        <div class="student-table">
            <div class="student-header">
                <div class="student-photo">Foto</div>
                <div class="student-name">Nome</div>
                <div class="student-class">Turma</div>
                <div class="student-actions">Ações</div>
            </div>
         
                {% for students in students %}
                <div class="student-row">
                    <div class="student-photo">
                        {% if students.photo %}
                            <img src="{{ students.photo.url }}" alt="Foto do Aluno">
                        {% else %}
                            <img src="{% static 'app/img/avatar_original.png' %}" alt="Foto do Aluno">
                        {% endif %}
                    </div>
                    <div class="student-name">{{ students.name }} {{ students.last_name }}</div>
                    <div class="student-class">
                        {% with turmas=student_classes|get_item:students.pk %}
                            {% if turmas %}
                                {% for turma in turmas %}
                                    {{ turma.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                Sem turma
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="student-actions">
                      
                        <button class="view" onclick="window.location.href='{% url 'student_detail' students.pk %}'"><i class="fa-regular fa-eye"></i></button>
                        {% if user.is_superuser %}
                        <button class="edit" onclick="window.location.href='{% url 'update_student' students.pk %}'"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button class="document" onclick="window.location.href='{% url 'create_student_document' student_pk=students.pk %}'">
                            <i class="fa-regular fa-file"></i>
                        </button>
                        <form method="post" action="{% url 'delete_student' students.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete"><i class="fa-regular fa-trash-can"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
      
        
     
        </div>
    </div>

    <script>
        function redirectToPage() {
            window.location.href = 'createStudent.html';
        }
    </script>
{% endblock %}
